.expo/
node_modules/
Client App/eas.json
LivekitTest/py312_env
LivekitTest/venv
LivekitTest/.env
LivekitServer/py312_env
LivekitServer/venv
LivekitServer/.env

Back/venv
LivekitTest/LiveKit-AI-Car-Call-Centre/frontend/node_modules


Back/AGENT/.env
Back/API/.env

Front/ClientApp/.env
Front/AdminDashboard/.env





